<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="districtEntities" connectionString="metadata=res://*/Dao.ArchiveModel.csdl|res://*/Dao.ArchiveModel.ssdl|res://*/Dao.ArchiveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=district64.db.5668286.hostedresource.com;Initial Catalog=district64;Persist Security Info=True;User ID=district64;Password=Sophie1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <log4net>
    <root>
      <priority value="INFO" xdt:Transform="SetAttributes(value)"/>
    </root>
  </log4net>
  
</configuration>