<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="districtEntities" connectionString="metadata=res://*/Dao.ArchiveModel.csdl|res://*/Dao.ArchiveModel.ssdl|res://*/Dao.ArchiveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WEB-1;Initial Catalog=district;Persist Security Info=True;User ID=district64;Password=district64;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>